<%- include("../partials/header") %>


<div class="container">
	
	<header class="jumbotron">
		<div class="container">
			
			<h1>
				Littlefish Dynamic Reports
			</h1>

			<!-- <p>
				List of reports
			</p> -->

			<p>
				<a class="btn btn-primary btn-large" href="/reports/new">
					Add New Report
				</a>
			</p>

		</div>
	</header>


	<script>
		function pad(num, size, name) {
			let s = "000" + num;
			let len = "" + num
			len = len.length

			s = "SRT"+s.substr(len) + name

			let x = document.getElementsByName("report_name"+num)[0].innerText = s

		}	
	</script>	
	
	<div class="row text-center" id="camp-grid">
		
		<% reports.forEach(function (report){ %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="thumbnail d-flex flex-column">
					<i class="far fa-file-alt fa-4x left icon-padding"></i>
					<h5 class="word-wrap text-block-limit" name="report_name<%= report.id %>">
						<script>pad(<%= report.id %>,2, " - <%= report.name %>")</script>
					</h5> 
		
					<a class="btn btn-primary top-margin-5" href="/reports/<%= report.id %>">Edit</a>
					<a class="btn btn-primary" href="/reports/<%= report.id %>/subscriptions">Subscriptions</a>
		
				</div>
			</div>
		<% }) %>
		
	</div>
	
	
</div>



<%- include("../partials/footer") %>