<%- include("../partials/header") %>
 


<div class="container">
	<div class="row">
		
		<div class="col-md-12 no-padding">
			<div class="thumbnail">	

				<div class="caption-full">

					<h4>
						<a href="/reports/<%= report.id %>/edit"><%= report.name %></a>
					</h4>				

					<p>
						<%= report.description %>
					</p>	
						
					
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 no-padding">

			<% //if (user && product.author.id.equals(user._id) ) { 
				%>

				<a class="btn btn-primary left" href="/reports/<%= report.id %>/edit" role="button">Edit</a>
				<form action="/reports/<%= report.id %>/copy?_method=PUT" method="POST" class="left">
					<button class="btn btn-primary left-margin-5">
						Copy
					</button>
				</form>


				<% //if(product.active === false) { %>
					<form action="/reports/<%= report.id %>?_method=DELETE" method="POST" class="left">
						<button class="btn btn-primary left-margin-5">
							Delete
						</button>
					</form>
				<% //} %>	

			<% //} %>

		</div>
	</div>
</div>








<!-- CONTAINER TO CONTAINS THE VARIABLE, NESTED FORM -->
<div class="container report-builder">

    <form action="/reports/<%= report.id %>/fusions" method="POST">
        <button class="btn btn-primary add-section" type="button">
            Add Section
        </button>	

        <ul class="sortable sortable-sections"></ul>

        </ul>    

        <div class="top-padding">

            <button class="btn btn-primary">
                Save
            </button>					
        </div>

    </form>



</div>





<script>

    updateSortable = () => {
        $( ".sortable" ).sortable({
            stop: updateIndex,
            opacity: 0.6,
            placeholder: "ui-state-highlight",
            forcePlaceholderSize: true
        });
        $( ".sortable" ).disableSelection(); //make sortable text area unselectable  
    }

    function add_section_function(){

        //GENERATE A UNIQUE ID
        let number = $(".section").length + 1
        let text_number = 'Section '+number 

        //CREATE MARKUP SCRIPT
        let markup = `
        <li class="ui-state-default section tr-grab" id="section_`+number+`">      

            <div class="box">
                <span>`+text_number+`</span>

                <input class="form-control" type="text" name="Report[`+text_number+`][name]" placeholder="name" >
            </div>

            <button class="btn btn-primary add-subsection" type="button">
                Add Subsection
            </button>	  

            <ul class="sortable sortable-subsections">

            </ul>
        </li>
        `

        // APPEND MARKUP TO SORTABLE UL TAG
        $(".sortable-sections").append(markup)

        //GET ADD BUTTON FOR SECTION AND ADD CLICK FUNCTION TO IT
        let section_button = $("#section_"+number).children('.add-subsection')
        

        section_button.click(add_subsection_function);

        updateSortable()

        let return_data = $("#section_"+number)
        return return_data
	}
    
    // ADD A SUBSECTION TO THE PARENT OF "THIS" OBJECT
	function add_subsection_function(){

        let parent = $(this).parent();
        // console.log(parent)
        add_subsection(parent)
    
	}

    function add_subsection(parent){

        // console.log(section_data.id)
        let parent_span = $(parent[0]).find("span")[0].innerText
        let text_number = 'Sub Section '+(parent.children().find('.subsection').length + 1)
        let number = $(".subsection").length + 1        


        let markup = `        
        <li class="ui-state-default subsection tr-grab" id="subsection_`+number+`">
              
            <div class="box">
                <span>`+text_number+`</span>

                <select name="Report[`+parent_span+`][`+text_number+`][id]" type="number" class="full-width form-control subsection-options">
                    <% sections.forEach(function (section_e){ %>
                        <option value = <%= section_e.id %>                                                         
                        >
                        <%= section_e.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="box">
                <span>Alternate Name</span>
                <input class="form-control" type="text" name="Report[`+parent_span+`][`+text_number+`][name]" placeholder="name" >
            </div>

            <div class="box">
                <span>Options</span>
                <select name="Report[`+parent_span+`][`+text_number+`][options]" type="number" class="full-width form-control" multiple size="3">
                    <option value="graph" selected>graph</option>
                    <option value="table" selected>table</option>
                    <option value="comments" selected>comments</option>
                    <option value="test4">test4</option>
                    <option value="test5">test5</option>
                </select>
            </div>

            <ul class="sortable sortable-paragraphs">
            
            </ul>            

        </li>                
        `


        //GET PARENT OF BUTTON THEN FULE SORTABLE SECTION UL WITHIN CHILDREN AND APPEND MARKUP
        // $(this).parent().children('.sortable-subsections').append(markup)
        parent.children('.sortable-subsections').append(markup)
        let subsection_button = $("#subsection_"+number).children('.add-paragraph')

        updateSortable()       
        
        let return_data = $("#subsection_"+number)
        return return_data
    }



    // ADD THE "ADD SECTION" FUNCTION TO ANYTHING WITH THE ADD-SECTION CLASS
    $(".add-section").click(add_section_function);	
    



    updateIndex = (e, ui) => {

        //LOOP THROUGH EACH SECTION, SUBSECTION AND PARAGRAPH AND RELABEL THEIR NAMES ACCORDINGLY 
        let sections = $(".section");

        sections.each(function (i) {

            //RELABEL SECTION
            let section_name = 'Section ' + (i + 1)
            $(this).find('span')[0].innerText = section_name
            $(this).find('input')[0].name = section_name + '[name]'

            let subsections = $(this).children().find('.subsection')

            subsections.each(function (i) {
                
                //RELABEL SUBSECTION
                let subsection_name = 'Sub Section ' + (i + 1)
                $(this).find('span')[0].innerText = subsection_name
                $(this).find('input')[0].name = section_name + '['+subsection_name+']'+'[name]'
            })

        })
    }    



    let section_button;
    //THIS NEEDS TO EVENTUALLY BE REPLACED BY ANOTHER LOOP BUT THE CODE DOESN'T CURRENTLY SAVE SECTION DATA
    section_button = add_section_function()
 
    let subsection;
    let subsection_element;

    // LOOP THROUGH CONTEXT AND POPULATE SECTION DATA
    <% fusions.forEach(function (fusion){
        let section_data = sections.find(o => o.id === fusion.join_from_id);

    %>
        //CREATE THE SUBSECTIONS
        subsection = add_subsection(section_button)

        //FIND THE SUBSECTION OPTION THAT MATCHES THE FUSED SECTION ID
        subsection_element = subsection.find('.subsection-options > option[value="<%- section_data.id %>"]')
        if (subsection_element.length > 0)
        {
            subsection_element.attr('selected','selected');
        }  

        //ADD IN THE ALTERNATE NAME TO THE SUBSECTION, IF AVAILABLE FROM THE FUSION
        subsection_element = subsection.find('input')
        // console.log(subsection_element)
        if (subsection_element.length > 0)
        {
            subsection_element.val('<%- fusion.string_value %>');
        }  

    <%})%>


</script>



<%- include("../partials/footer") %>