<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            <%- item_info.menu_name %> Editor
        </h1>

    </div>
</header>

<form action="/admin/<%- type %>/<%= data.id %>?_method=PUT" method="POST"
    onsubmit="return confirm('Are you sure you want to save changes to this item?');">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4><%- data.name %></h4> 
        </div>

        <% item_info.edit_fields.forEach(function (item){ %>

            <div class="box s-padding">
                <span>
                    <%- item %> :
                </span>
                <input class="form-control" type="text" name="<%- item %>" value="<%- data.dataValues[item] %>">

            </div>
            
        <% }) %>

    </div>


    <% if (fusable_data && fusable_data.length > 0) { %>
        <button class="btn btn-primary add-fusion" type="button">
            Add Fusion
        </button>	

        <div class="top-padding">        
            <div class="panel panel-primary">
    
                <div class="panel-heading">
                    <h4>Fusions</h4> 
                </div>
    
                <div id="fusion-box">
    
                </div>
            </div>
        </div>    
    <% } %>

    <button class="btn btn-lg btn-primary left">Save</button>
</form>


<form action="/admin/<%- type %>/<%= data.id %>?_method=DELETE" method="POST" class="flex-right"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-lg btn-primary">
        Delete
    </button>
</form>

<div class="top-padding">
    <a href="/admin/<%- type %>">Go Back</a>
</div>

</div>



<script>

    function add_fusion() {
        let fusion_box = $('#fusion-box')
        let fusion_select = $('.fusion-select')

        let markup = `

        <div class="box s-padding">
        <select id="fusion_`+fusion_select.length+`" name="fusions[`+fusion_select.length+`]" type="string" class="full-width form-control fusion-select">

        <option value=""></option>

        <% if(item_info.fusion_from) { %>
        <% item_info.fusion_from.forEach(function (fusion_from, i){ %>

            <% let fusable_list = fusable_data[i] %>

            <% fusable_list.forEach(function (fusable_item){ %>                

                    <option value="<%- fusion_from %>_<%- fusable_item.id %>"><%- fusion_from %>: <%- fusable_item.name %></option>
            <% }) %>
        <% }) %>
        <% } %>

        </select>
        </div>
        `
        fusion_box.append(markup)
        // console.log($("#fusion_"+fusion_select.length))

        let return_data = $("#fusion_"+fusion_select.length)
        return return_data
    }


    // ADD THE "ADD SECTION" FUNCTION TO ANYTHING WITH THE ADD-SECTION CLASS
    $(".add-fusion").click(add_fusion);	


    let fusion_picker;
    <% if(linked_data){ %>
    <% linked_data.forEach(function (linked_item){ %>
        fusion_picker = add_fusion()

        // console.log(fusion_picker)

        selected_option = fusion_picker.find('option[value="<%- linked_item.table_type %>_<%- linked_item.id %>"]')
        if (selected_option.length > 0)
        {
            selected_option.attr('selected','selected');
        }            

    <% }) %>
    <% } %>

</script>

<%- include("../partials/footer") %>