<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            Create
        </h1>

    </div>
</header>

<form action="/admin/<%- type_info.type.toLowerCase() %>" method="POST"
    onsubmit="return confirm('Are you sure you want to save changes to this item?');">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4>New Item</h4> 
        </div>

        <% type_info.edit_fields.forEach(function (item){ %>

            <div class="box s-padding">
                <span>
                    <%- item %> :
                </span>
                <input class="form-control" type="text" name="params[<%- item %>]">

            </div>
            
        <% }) %>

    </div>

    <% if(type_info.join_from) {%>
        <button class="btn btn-primary add-join" type="button">
            Add join
        </button>	
    <% } %>

    <% if (join_data && join_data.length > 0) { %>
    <div class="top-padding">        
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4>Joins</h4> 
            </div>

            <div id="join-box">

            </div>
        </div>
    </div>    
    <% } %>


    <button class="btn btn-lg btn-primary">Save</button>
</form>

<div class="top-padding">
    <a href="/admin/<%- type_info.type.toLowerCase() %>">Go Back</a>
</div>

</div>


<script>

    function add_join() {
        let join_box = $('#join-box')
        let join_select = $('.join-select')

        let markup = `

        <div class="box s-padding">
        <select name="joins[`+join_select.length+`]" type="string" class="full-width form-control join-select">

        <option value=""></option>

        <% if(type_info.join_from) {%>

            <% type_info.join_from.forEach(function (join_from, i){ %>

                <% let join_list = join_data[i] %>

                <% join_list.forEach(function (join_item){ %>                

                        <option value="<%- join_from %>_<%- join_item.id %>"><%- join_from %>: <%- join_item.name %></option>
                <% }) %>
            <% }) %>
        <% } %>

        </select>
        </div>
        `
        join_box.append(markup)
        // console.log(join_box)
    }


    // ADD THE "ADD SECTION" FUNCTION TO ANYTHING WITH THE ADD-SECTION CLASS
    $(".add-join").click(add_join);	

</script>

<%- include("../partials/footer") %>