<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            <%- menu_name %>
        </h1>

    </div>
</header>



<a class="btn btn-primary btn-large" href="/admin/<%- type %>/new">
    Add <%- menu_name %>
</a>

<div class="top-padding">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h4>Items</h4>
        </div>

        <% data.forEach(function (item) { %>

            <%
            
            if (item.name !== undefined) {
                %>
                <div class="panel-body"> 
                    <a href="/admin/<%- type %>/<%- item.id %>/edit">
                        <%- item.name %>
                    </a>
                </div> 
                <%
            }
            
            %>
            
        <% }) %>

    </div>

</div>

</div>

<%- include("../partials/footer") %>