<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

	<link rel="stylesheet" href="/stylesheets/main.css">
	
	<% if(typeof stylesheet !== 'undefined') { %>
		<link rel="stylesheet" href="/stylesheets/<%= stylesheet %>.css">
	<% } %>

	
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>	
	
	<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>


  <!-- reference Moment.js library -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"> -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	



	<title>
		<% if(typeof title !== 'undefined') { %>
			<%= title %>
		<% }%>
	</title>
</head>

<body>
	
<nav class="navbar navbar-custom">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="/img/thumbnail.png" alt="LF Branding" class="branding">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<% if(user) { %>
					<% if(user.role) { %>
						<% if(user.role.includes('Admin')) { %>
							<li><a href="/admin">Admin</a></li>
						<% } %>
					<% } %>
				<% } %>
				<% if(user) { %>
					<li><a href="/reports">Reports</a></li>
					<li><a href="/client_data">Client Data</a></li>	
					<!-- 
					<li><a href="/ownerteam_data">Ownerteam Data</a></li>
					<li><a href="/orgunit_slas">OrgUnit SLAs</a></li>
					<li><a href="/usernames">Usernames</a></li>					 
					-->
				<% } %>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(!user) { %>
					<li><a href="/login">Login</a></li>
				<% } else { %>
					<li><a href='/'>Hi, <%= user.name %> (<%= user.role %>)</a></li>
					<li><a href="/logout">Logout</a></li>
				<% } %>
			</ul>
		</div><!-- /.navbar-collapse -->
 	</div><!-- /.container-fluid -->
</nav>	

<div class="container">
	<% if(error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert" id="errorMessage">
			<%= error %>	
		</div>	
		<script type="text/javascript">window.setTimeout("document.getElementById('errorMessage').style.display='none';", 4000); </script>
	<% } %>
	<% if(success && success.length > 0) { %>	
		<div class="alert alert-success" role="alert" id="successMessage">
			<%= success %>	
		</div>		
		<script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 4000); </script>
	<% } %>	
</div>


