<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            <%- route_info.type %> Editor
        </h1>

        <p>
            List of <%- route_info.type %> for <%= orgunit.dim_orgunit_orgunit %>
        </p>

    </div>

    <% if(typeof route_info.form_create_path !== 'undefined') { %>
        <p>
            <a class="btn btn-primary btn-large" href="/client_data/<%= orgunit.dim_orgunit_pk %>/contracts/new">
                Add New
            </a>
        </p>
    <% } %>
</header>

<%- include(route_info.form_path) %>
	

<div class="top-padding">
    <a href="/client_data/<%= orgunit.dim_orgunit_pk %>">Go Back</a>
</div>


</div>


<%- include("../partials/footer") %>