<%- include("../partials/header") %>


<div class="container">

<header class="jumbotron">
    <div class="container">
        
        <h1>
            Create New <%- route_info.type.replace(/^\w/, (c) => c.toUpperCase()); %>
        </h1>

        <p>
            Create <%- route_info.type.replace(/^\w/, (c) => c.toUpperCase()); %> for <%= orgunit.dim_orgunit_orgunit %>
        </p>

    </div>
</header>

<%- include(route_info.form_create_path) %>
	

<div class="top-padding">
    <a href="/client_data/<%= orgunit.dim_orgunit_pk %>">Go Back</a>
</div>


</div>


<%- include("../partials/footer") %>