<%- include("../partials/header") %>

<div class="container">
	
	<h1 style="text-align:center;">
		Edit <%= subscription.name %> Subscription
	</h1>

	<div class="row">		
	
		<form action="/reports/<%= report.id %>/subscriptions/<%= subscription.id %>?_method=PUT" method="POST">


			<!-- SETUP THE MAIN SUBSCRIPTION ELEMENTS  -->
			<div class="row">

				
				<h2 class="rounded_borders">Subscription</h2>
				

				<div class="col-xs-12">
					<div class="form-group">
						<p>Subscription Name:</p>
						<input class="form-control" type="text" name="params[name]" placeholder="name" value="<%= subscription.name %>" required>
					</div>			
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<p>Report Name:</p>
						<input class="form-control" type="text" name="params[report_name]" placeholder="report name" value="<%= subscription.report_name %>" required>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<p>Report Sub Name:</p>
						<input class="form-control" type="text" name="params[report_sub_name]" placeholder="report sub name" value="<%= subscription.report_sub_name %>" required>
					</div>			
				</div>				


				<div class="col-xs-4">
					<div class="form-group">	
						<p>Frequency:</p>				
						<select id="frequency-select" class="form-control" name="params[frequencyId]" required>

							<option value="">--Frequency--</option>
							<% frequencies.forEach(function (frequency){ %>
								<option value="<%= frequency.id %>"
									<% if (frequency.id === subscription.frequencyId) { %>
									selected
									<% } %>	
								><%= frequency.name %></option>
							<% }) %>

						</select>
					</div>			
				</div>
				
				<div class="col-xs-4">
					<div class="form-group">
						<p>Start Date:</p>
						<input class="form-control" type="date" name="params[start_date]" value="<%= subscription.start_date %>" required>
					</div>				
				</div>

				<div class="col-xs-4">
					<div class="form-group">
						<p>Time:</p>
						<input class="form-control" type="time" name="params[time]" value="<%= subscription.time %>" required>
					</div>				
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<p>Email To:</p>
						<input class="form-control" type="text" name="params[email_to]" placeholder="email to" value="<%= subscription.email_to %>" required>
					</div>			
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<p>Email Subject:</p>
						<input class="form-control" type="text" name="params[subject]" placeholder="email subject" value="<%= subscription.subject %>" required>
					</div>			
				</div>

				<div class="col-xs-12">
					<div class="form-group">
						<p>Email Body:</p>
						<input class="form-control" type="text" name="params[body]" placeholder="email body" value="<%= subscription.body %>" id="subject-box" required>
					</div>				
				</div>

			</div>
	

	

		<!-- SETUP THE UNIVERSAL PARAMETERS -->
		

		<!-- loop through each parameter value set -->
		<% let saved_group = ""; %>
		<% parameter_values.forEach(function (parameter_value, index){ %>

			<!-- get the associated parameter -->
			<% let parameter = parameters[index]; %>

			<% if (parameter.visible === true ) { %>

				<% if (parameter.group !== saved_group ) { %>
					<div class="col-xs-12">
						<h2 class="rounded_borders"><%= parameter.group %></h2>
					</div>
					
					<div class="row">
				<% 
					saved_group = parameter.group
					} 
				%>

				<div class="col-xs-4">
					<div class="form-group">	
						
						<p><%= parameter.name %>:</p>
						
						<!-- if the parameter value has records associated with it -->
						<% if(parameter_value.recordset){ %>						
							<select 
							
							<% if(parameter.field_type === 'multiple') { %> <%= parameter.field_type %> <% } %>
							
							id="<%= parameter.name %>-select" class="form-control" name="params[<%= parameter.name %>]">
		
								<option value="">--<%= parameter.name %>--</option>
		
								<% parameter_value.recordset.forEach(function (record){ %>
									<option value="<%= record.value %>"
									<% if(parameter_obj[parameter.name] == record.value){ %>
											<%= " selected" %>
									<% } %>	
									>
									<% if(record.name) { %>
										<%= record.name  %>
									<% } else { %>
										<%= record.value %> 
									<% } %></option>
								<% }) %>
								
							</select>
						<% }else{ %>
							<input id="<%= parameter.name %>-select" class="form-control" type="<%= parameter.field_type %>" name="params[<%= parameter.name %>]" placeholder="" 
							
							<% if(parameter_obj[parameter.name]){ %> 
							value="<%-parameter_obj[parameter.name]%>" 
				
							<% } %>
							>
						<% } %>							
					</div>
				</div>

				<% if (parameter.group !== saved_group ) { %>
					</div>
				<% } %>

			<% } %>	
		<% }) %>


			<div class="form-group">					
				<button class="btn btn-lg btn-primary btn-block">
					Submit
				</button>						
			</div>				

		</form>
		<a href="/reports/<%= report.id %>/subscriptions">Go Back</a>

		
	</div>
	
</div>


<%- include("../partials/footer") %>