<%- include("../partials/header") %>

<div class="container">
	
	<h1 style="text-align:center;">
		Create a New Subscription
	</h1>

	<div class="row">		
	
        <form action="/reports/<%= report.id %>/subscriptions" method="POST">


			<!-- SETUP THE MAIN SUBSCRIPTION ELEMENTS  -->
			<div class="row">

				<div class="col-xs-12">
					<h3>Subscription</h3>
				</div>

				<div class="col-xs-12">
                    <div class="form-group">
                        <p>Subscription Name:</p>
                        <input class="form-control" type="text" name="params[name]" placeholder="name" required>
                    </div>		
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<p>Report Name:</p>
						<input class="form-control" type="text" name="params[report_name]" placeholder="report name" required>
					</div>			
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<p>Report Sub Name:</p>
						<input class="form-control" type="text" name="params[report_sub_name]" placeholder="report sub name" required>
					</div>			
				</div>	

				<div class="col-xs-4">
                    <div class="form-group">	
                        <p>Frequency:</p>				
                        <select id="frequency-select" class="form-control" name="params[frequencyId]" required>
                            <option value="">--Frequency--</option>
                            <% frequencies.forEach(function (frequency){ %>
                                <option value="<%= frequency.id %>"><%= frequency.name %></option>
                            <% }) %>
                        </select>
                    </div>		
				</div>
				
				<div class="col-xs-4">
                    <div class="form-group">
                        <p>Start Date:</p>
                        <input class="form-control" type="date" name="params[start_date]" required>
                    </div>					
				</div>

				<div class="col-xs-4">
                    <div class="form-group">
                        <p>Time:</p>
                        <input class="form-control" type="time" name="params[time]" required>
                    </div>				
				</div>

				<div class="col-xs-12">
                    <div class="form-group">
                        <p>Email To:</p>
                        <input class="form-control" type="text" name="params[email_to]" placeholder="email to">
                    </div>		
				</div>

				<div class="col-xs-12">
                    <div class="form-group">
                        <p>Email Subject:</p>
                        <input class="form-control" type="text" name="params[subject]" placeholder="email subject">
                    </div>		
				</div>

				<div class="col-xs-12">
                    <div class="form-group">
                        <p>Email Body:</p>
                        <input class="form-control" type="text" name="params[body]" placeholder="email body">
                    </div>				
				</div>

			</div>
	

	

		<!-- SETUP THE UNIVERSAL PARAMETERS -->
		

		<% let saved_group = ""; %>
		<% parameter_values.forEach(function (parameter_value, index){ %>

			<% let parameter = parameters[index]; %>

			<% if (parameter.visible === true ) { %>

				<% if (parameter.group !== saved_group ) { %>
					<div class="col-xs-12">
						<h3><%= parameter.group %></h3>
					</div>
					
					<div class="row">
				<% 
					saved_group = parameter.group
					} 
				%>

				<div class="col-xs-4">
					<div class="form-group">	
						
						<p><%= parameter.name %>:</p>
						
						<% if(parameter_value.recordset){ %>
							<select id="<%= parameter.name %>-select" class="form-control" name="parameters[]">
		
								<option value="">--<%= parameter.name %>--</option>

								<% parameter_value.recordset.forEach(function (record){ %>
									<% let value = '"'+parameter.name+'" : '+'"'+record.value+'"'; %>
									<option value="<%= value %>">
										<% if(record.name) { %>
											<%= record.name  %>
										<% } else { %>
											<%= record.value %> 
										<% } %></option>
								<% }) %>

							</select>
						<% }else{ %>
							<input value="<%= parameter.name %>" id="<%= parameter.name %>-hidden" class="form-control" type="hidden" name="input_parameter_names[]">
							<input id="<%= parameter.name %>-select" class="form-control" type="<%= parameter.field_type %>" name="input_parameters[]" placeholder="">
						<% } %>					
					</div>
				</div>

				<% if (parameter.group !== saved_group ) { %>
					</div>
				<% } %>

			<% } %>	
		<% }) %>


			<div class="form-group">					
				<button class="btn btn-lg btn-primary btn-block">
					Submit
				</button>						
			</div>				

		</form>
		<a href="/reports/<%= report.id %>/subscriptions">Go Back</a>

		
	</div>
	
</div>


<%- include("../partials/footer") %>